<!DOCTYPE html>
<html>
  <head>
    <title>Gitcoders</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (currentUserData) { %>
      <li><a href="/auth/logout">Logout</a></li>
    <% } else { %>
      <li><a href="/auth/github">Login</a></li>
    <% } %>
  </body>
</html>
