<!DOCTYPE html>
<html>
  <head>
    <title>gitcoders | Bring your code to life</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/<gc-fav></gc-fav>.png">
  </head>
  <body>

    <div id="root"></div>

    <script src="./build/bundle.js"></script>
  </body>
</html>
