body, html {
  background-color: rgb(235, 235, 235);
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navButtons:hover {
  background-color: rgb(59, 59, 60);
}
.row {
  margin-bottom: 0px;
}
.user-link:hover {
  cursor: pointer;
  background-color: #dfdedf;
}
.waves-effect {
  width: 100%;
}
.is-active {
  background-color: rgb(155, 157, 157) !important;
  border-bottom: 3px solid #19A69A;
}
.tabs-menu, .tabs-navigation, .tabs-menu-item {
  background-color: #BBB9B9;
}
