body, html {
  background-color: rgb(233, 229, 232);
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navButtons:hover {
  background-color: rgb(59, 59, 60);
}

.row {
  margin-bottom: 0px;
}

.user-link:hover {
  cursor: pointer;
  background-color: #dfdedf;
}

.waves-effect {
  width: 100%;
}
/*
li {
  list-style: circle !important;
  margin-left: 22px;
}
ul {
  margin-top: 5px;
}*/
